.suggestion-container {
  max-height: 92px;
  overflow-y: scroll;
  width: 59.1%;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: fixed;
  z-index: 2;
  background-color: white;


}